.App {
  text-align: center;
  padding: 50px;
  background-color: #fff;
  border-radius: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  margin: 0 4.2rem 4.2rem 4.2rem;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #dbdcdf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(82, 79, 79);
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
